[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pydicom = "*"
ipython = "*"
matplotlib = "*"
pandas = "*"
torch = "*"
torchvision = "*"
sklearn = "*"
brutelogger = "*"
tensorboard = "*"
tqdm = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.8"
